body {
  font-family: Roboto, sans-serif;
  background-color: black;
  margin: 0;
  /* box-sizing: border-box; */
}

.container {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  background: #041E23;
  border: solid 1px #0E464F;
  border-radius: 2.5rem;
}

@media (max-width: 1024px) {
  .container {
    width: 630px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 335px;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 1.5rem;
  }
}

.header-3 {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .header-3 {
    width: 580px;
  }
}

@media (max-width: 640px) {
  .header-3 {
    width: 287px;
  }
}

.header-3 h3 {
  font-size: 2rem;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 4px;
}

@media (max-width: 640px) {
  .header-3 h3 {
    font-size: 1.5rem;
  }
}

.header-3 h4 {
  font-size: 1rem;
  font-size: 400;
  margin: 0;
  margin-bottom: 4px;
  color: #FAFAFA;
}

@media (max-width: 640px) {
  .header-3 h4 {
    font-size: 1rem;
  }
}

.progressive-barr {
  /* width: 100%; */
  position: relative;
  width: 600px;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
  background-color: #0E464F;
  border-radius: 5px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .progressive-barr {
    width: 580px;
  }
}

@media (max-width: 640px) {
  .progressive-barr {
    width: 287px;
  }
}

.progressive-barr-absolute {
  position: absolute;
  width: 326px;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
  background-color: #24A0B5;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .progressive-barr-absolute {
    width: 306px;
  }
}

@media (max-width: 640px) {
  .progressive-barr-absolute {
    width: 232px;
  }
}

.form {
  /* width: 604px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: left;
  background-color: #08252B;
  border: solid 1px #0E464F;
  border-radius: 2.5rem;
  padding: 1rem;
}

@media (max-width: 640px) {
  .form {
    border: none;
    background-color: transparent;
  }
}

.box-container {
  /* width: 556px; */
  height: 328px;
  background-color: #052228;
  border: solid 1px #07373F;
  border-radius: 2rem;
  padding: 1.5rem;
}

@media (max-width: 1024px) {
  .box-container {
    margin-top: 0.5rem;
  }
}

@media (max-width: 768px) {
  .box-container {
    height: 287px;
  }
}

label {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: #FAFAFA;
}

.upload-box-container {
  width: 508px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000033;
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media (max-width: 640px) {
  .upload-box-container {
    width: 239px;
    height: 200px;
  }
}

.upload-box.with-padding {
  position: absolute;
  margin-bottom: 0.2rem;
  width: 195px;
  height: 195px;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 2px solid #24A0B580;
  background-color: #0E464F;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

@media (max-width: 640px) {
  .upload-box.with-padding {
    width: 175px;
    height: 175px;
  }
}

.no-padding {
  position: absolute;
  margin-bottom: 0.2rem;
  width: 215px;
  height: 220px;
  background-color: #0E464F;
  border: 2px solid #24A0B580;
  border-radius: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

@media (max-width: 640px) {
  .no-padding {
    width: 200px;
    height: 205px;
  }
}

.upload-box:hover {
  border-color: #24A0B580;
  background-color: #2C545B;
}

.upload-label {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (max-width: 640px) {
  .upload-label {
    width: 185px;
    height: 185px;
  }
}

.image-preview {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

@media (max-width: 640px) {
  .image-preview {
    width: 225px;
    height: 225px;
  }
}

.icon-load-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
}

.icon-load-container p {
  margin: 0;
  font-size: 0.6rem;
  font-size: 1rem;
  font-weight: 400;
  color: #FAFAFA;
}

.cloudinary-icon {
  font-size: 2rem;
  color: #FAFAFA;
  margin-bottom: 8px;
}

.upload-input {
  opacity: 0;
  position: absolute;
  width: 200px;
  height: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0;
}

@media (max-width: 640px) {
  .upload-box.with-padding {
    width: 185px;
    height: 185px;
  }
}

.uploading {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #777;
  font-style: italic;
}

.error-text {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}

.warning-text {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0;
}

.fade-in-out {
  animation: fadeInOut 3s ease-in-out;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}

.bar {
  width: 560px;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  background-color: #07373F;
  border-radius: 5px;
}

@media (max-width: 640px) {
  .bar {
    width: 287px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.label {
  margin: 0;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 400;
}

input {
  width: 540px;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #07373F;
  background-color: #08252B;
  border-radius: 10px;
  color: #FAFAFA;
}

@media (max-width: 640px) {
  input {
    width: 270px;
  }
}

input:focus {
  outline: 1px solid #666666;
}

input:hover {
  border-color: #24A0B580;
  background-color: #2C545B;
  color: #FAFAFA;
}

.error-text {
  color: red;
}

.textarea {
  width: 540px;
  padding: 10px;
  margin-top: 5px;
}

@media (max-width: 640px) {
  .textarea {
    width: 270px;
  }
}

button {
  background-color: #08252B;
  border: solid 1px #24A0B5;
  color: #FAFAFA;
  padding: 8px 20px 8px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}

button:hover {
  border-color: #24A0B580;
  background-color: #24A0B5;
  color: #FAFAFA;
}

.spinner {
  border: 3px solid #f3f3f3;
  border: solid 2px #24A0B5;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.final-ticket-section {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border: solid 1px #0E464F;
  background: #041E23;
  border-radius: 30px;
}

@media (max-width: 1280px) {
  .final-ticket-section {
    padding: 0;
    padding-bottom: 2rem;
  }
}

@media (max-width: 640px) {
  .final-ticket-section {
    width: 335px;
    padding-bottom: 0.5rem;
  }
}

.ready-bar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 604px;
  margin: 0;
}

@media (max-width: 640px) {
  .ready-bar-section {
    width: 287px;
  }
}

.ready-container {
  /* width: 100%; */
  width: 604px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

@media (max-width: 640px) {
  .ready-container {
    width: 286px;
  }
}

.ready {
  font-size: 2rem;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
}

@media (max-width: 640px) {
  .ready {
    font-size: 1.5rem;
  }
}

.three {
  font-size: 1rem;
  font-weight: 400;
  color: #FAFAFA;
  margin: 0;
}

@media (max-width: 640px) {
  .three {
    font-size: 1rem;
  }
}

.progress-barr {
  /* width: 100%; */
  width: 604px;
  position: relative;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
  background-color: #0E464F;
  border-radius: 5px;
  margin-top: 0;
  margin-bottom: 15px;
}

@media (max-width: 640px) {
  .progress-barr {
    width: 287px;
  }
}

.progress-barr-absolute {
  width: 232px;
  position: absolute;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
  background-color: #24A0B5;
  border-radius: 5px;
}

@media (max-width: 640px) {
  .progress-barr-absolute {
    width: 232px;
  }
}

.ticket-container-section {
  width: 604px;
}

@media (max-width: 640px) {
  .ticket-container-section {
    width: 287px;
  }
}

.ticket-title-section {
  width: 604px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

@media (max-width: 640px) {
  .ticket-title-section {
    width: 287px;
  }
}

.ticket-container {
  /* width: 604px; */
  background: #041E23;
  border-radius: 20px;
}

@media (max-width: 640px) {
  .ticket-container {
    padding: 8px 10px 15px 10px;
  }
}

.ticket-title {
  font-size: 2rem;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}

@media (max-width: 640px) {
  .ticket-title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.check-email-copy {
  font-size: 1rem;
  font-weight: 400;
  color: #FAFAFA;
  text-align: center;
  text-decoration: none;
  cursor: default;
}

@media (max-width: 640px) {
  .check-email-copy {
    font-size: 1rem;
  }
}

.ticket-wrapper {
  max-width: 604px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2rem 1.3125rem 2rem 1.3125rem;
  margin: 20px auto 20px auto;
}

.ticket-background {
  width: 350px;
  height: 630px;
  display: block;
}

@media (max-width: 640px) {
  .ticket-background {
    width: 300px;
    height: 630px;
  }
}

.aptiw-section {
  width: 270px;
  height: 435px;
  position: absolute;
  top: 55px;
  left: 150px;
  z-index: 1;
  border: solid 1px #24A0B5;
  border-radius: 20px;
  padding: 14px;
}

@media (max-width: 640px) {
  .aptiw-section {
    /* width: 260px; */
    width: 260px;
    padding: 8px;
    top: 65px;
    left: -5px;
  }
}

.aptiw-fest-container {
  /* width: 175px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 20px;
}

.aptiw-fest-container h3 {
  font-size: 2.125rem;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
}

.aptiw-fest-container p {
  font-size: 10px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 3px;
}

.barcode-container {
  position: absolute;
  top: 545px;
  margin: 0;
  margin-top: 10px;
}

@media (max-width: 640px) {
  .barcode-container {
    transform: scale(0.8);
  }
}

.aptiw-section p {
  font-size: 9px;
}

.final-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.ticket-sample {
  /* width: 232px; */
  display: flex;
  flex-direction: column;
  background-color: #08343C;
  border: solid 1px #133D44;
  margin-top: 15px;
  border-radius: 10px;
}

@media (max-width: 640px) {
  .ticket-sample {
    width: 260px;
  }
}

.email-name-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0;
}

.name-container {
  width: 108px;
  flex: 1;
  border-bottom: solid 1px #12464E;
  border-right: solid 1px #12464E;
  margin-top: 5px;
  padding: 8px;
}

.name-container p {
  font-size: 8px;
  font-weight: 400;
  color: #24A0B5;
  margin: 0;
}

.name-container p,
h5 {
  margin: 0;
}

.name-container h5 {
  font-size: 10px;
  font-weight: 700;
  margin-top: 4px;
  color: #FFFFFF;
}

.email-container {
  width: 108px;
  flex: 1;
  border-bottom: solid 1px #12464E;
  margin-top: 5px;
  padding: 8px;
}

.email-container p,
h5 {
  margin: 0;
  text-align: start;
}

.email-container p {
  font-size: 8px;
  font-weight: 400;
  color: #24A0B5;
  margin: 0;
}

.email-container h5 {
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 4px;
}

.vip-number-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: start;
  margin: 0;
}

.ticket-type-container {
  flex: 1;
  border-bottom: solid 1px #12464E;
  border-right: solid 1px #12464E;
  padding: 8px;
}

.ticket-type-container p,
h5 {
  margin: 0;
}

.ticket-type-container p {
  font-size: 8px;
  font-weight: 400;
  color: #24A0B5;
  margin: 0;
}

.ticket-type-container h5 {
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 4px;
}

.ticket-counter-container {
  flex: 1;
  border-bottom: solid 1px #12464E;
  padding: 8px;
}

.ticket-counter-container p,
h5 {
  margin: 0;
  text-align: start;
}

.ticket-counter-container p {
  font-size: 8px;
  font-weight: 400;
  color: #24A0B5;
  margin: 0;
}

.ticket-counter-container h5 {
  font-size: 10px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 4px;
}

.special-request-container {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.special-request-container label {
  font-size: 10px;
  font-weight: 400;
  text-align: start;
  color: #24A0B5;
}

.special-request-container p {
  font-size: 10px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: start;
  line-height: 20px;
  margin: 0;
}

textarea {
  border: 1px solid #07373F;
  background-color: #08252B;
  border-radius: 5px;
  color: #FAFAFA;
}

textarea:hover {
  border-color: #24A0B580;
  background-color: #2C545B;
  color: #FAFAFA;
}

.ticket-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 40px;
}

@media (max-width: 640px) {
  .ticket-actions {
    /* width: 287px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 0.4rem;
    margin-top: 0.8rem;
  }
}

.back-button,
.download-button {
  flex: 1;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .back-button,
  .download-button {
    width: 100%;
    padding: 8px 18px;
  }
}

.back-button {
  background-color: #08252B;
  border: solid 1px #24A0B5;
  color: #24A0B5;
  /* text-wrap: nowrap; */
}

.back-button:hover {
  background-color: #2C545B;
  border-color: #24A0B580;
  color: #FAFAFA;
}

.download-button {
  background-color: #08252B;
  border: solid 1px #24A0B5;
  color: #FFFFFF;
}

.download-button:hover {
  background-color: #24A0B5;
  color: #FFFFFF;
}