.main-section {
  background-color: #08252B;
  padding: 10px 80px 10px 80px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .main-section {
    padding: 0;
    border-color: none;
    border-radius: 30px;
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #041E23;
  border: 1px solid #07373F;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  /* width: 600px; */
}

@media (min-width: 480px) and (max-width: 767px) {
  .main-header {
    display: none;
  }
}

.tics-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* .tics-logo {
  width: 15px;
  height: 15px;
  background-color: #08252B;
  border: 1px solid #07373F;
  border-radius: 6px;
} */

.tics-container p {
  margin: 0;
  font-weight: 700;
  font-style: oblique;
}

.header-events-container a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #05252C66;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}

.header-events-container p {
  font-size: 12px;
  margin: 0;
}

.header-events-container .first-child {
  color: #FAFAFA;
}

.header-events-container .second-child,
.third-child {
  color: #24A0B5;
}

.header-ticket-container button {
  font-size: 12px;
  text-align: center;
}

.icon-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  color: #FAFAFA;
}

.arrow-icon {
  width: 20px;
  height: 20px;
}

.header-ticket-container button:hover {
  background-color: #FAFAFA;
  color: #24A0B5;
}

.container-main {
  /* max-width: 1200px; */
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #07373F;
  background-color: #041E23;
  border-radius: 30px;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 10px;
}

header h3 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 4px;
}

/* header h3, h4 {
} */

header h4 {
  font-size: 12px;
  margin: 0;
  margin-bottom: 4px;
  color: #FAFAFA;
}

.progressive-bar {
  width: 100%;
  height: 2px;
  background-color: #0E464F;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}

.progressive-bar-absolute {
  width: 50%;
  height: 100%;
  background-color: #24A0B5;
  border-radius: 5px;
}

.main-card {
  padding: 15px;
  border: 1px solid #07373F;
  border-radius: 24px;
  text-align: center;
  color: white;
  background-color: #08252B;
}

.caption-card {
  border: 1px solid #07373F;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
  background: linear-gradient(170deg, #07373F 30%, #0A0C111A 65%);
}

.caption-card h1 {
  font-size: 1.5rem;
  color: #FAFAFA;
}

.caption-card p {
  font-size: 12px;
  margin: 5px 0;
  color: #FAFAFA;
}

.bar-horizontal {
  width: 100%;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 22px;
  background-color: #07373F;
}

.select-ticket {
  font-size: 13px;
  text-align: left;
  margin-bottom: 6px;
  color: #FAFAFA;
}

.ticket-type-cards-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #07373F;
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
  background: linear-gradient(135deg, #052228 10%, #07373F 95%);
}

.card {
  width: 100%;
  flex: 1;
  padding: 10px;
  border: 1px solid #07373F;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #197686;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 991px) {
  card {
    display: flex;
    flex-direction: column;
  }
}

.card:hover {
  background-color: #2C545B;
  border: 1px solid #197686;
  color: #FFFFFF;
}

.card.active {
  background-color: #12464E;
  border: 1px solid #197686;
  color: #FFFFFF;
}

.card p {
  margin: 0;
}

.bold {
  font-weight: 700;
  font-size: 13px;
  color: #FFFFFF;
  /* margin-bottom: 15px; */
}

.small-text {
  font-size: 10px;
  color: #FAFAFA;
  margin-top: 10px;
  /* text-wrap: nowrap; */
}

.small-text-button {
  color: #D9D9D9;
}

.num-tickets {
  font-size: 13px;
  text-align: left;
  margin-bottom: 6px;
  color: #FAFAFA;
}

.dropdown {
  margin: auto;
  border-color: #07373F;
}

.dropdown select {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 5px;
  font-size: 13px;
  background-color: #08252B;
  border: 1px solid #07373F;
  border-radius: 8px;
  color: #FFFFFF;
}

select:hover {
  background-color: #2C545B;
  color: #FFFFFF;
}

.second-next {
  text-wrap: nowrap;
}

.cancel-next-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 1rem;
  text-align: center;
}

.cancel-next-container .cancel,
.next {
  flex: 1;
  border: solid 1px #24A0B5;
  border-radius: 8px;
  padding: 8px 20px 8px 20px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  /* text-wrap: nowrap; */
}

.cancel-next-container .cancel {
  background-color: #08252B;
  color: #24A0B5;
}

.cancel-next-container .cancel:hover {
  background-color: #2C545B;
  border-color: #24A0B580;
  color: #FAFAFA;
}

.cancel-next-container .next {
  background-color: #08252B;
  color: #FFFFFF;
}


.cancel-next-container .next:hover {
  background-color: #24A0B5;
  color: #FFFFFF;
}

/* <>dmc6nes1j</>
<>jsx13579</> */