.main-section {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #08252B;
  border: 1px solid #07373F;
  padding: 10px 80px 10px 80px;
  margin-left: 6rem;
  margin-right: 6rem;
  /* margin: 10px 10px 10px 10px; */
  /* overflow: hidden; */
  /* box-sizing: border-box; */
}

@media (max-width: 1024px) {
  .main-section {
    background-color: none;
    padding: 0;
    margin: 0;
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #041E23;
  border: 1px solid #07373F;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 10px;
  width: 100%;
}

@media (max-width: 1024px) {
  .main-header {
    display: none;
  }
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tics-container {
  display: flex;
  align-items: center;
}

.tics-logo-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #FAFAFA;
  font-size: 1rem;
  font-weight: 700;
  font-style: oblique;
}

/* .tics-logo {
  width: 1rem;
  height: 2rem;
} */

.header-events-container {
  display: flex;
  gap: 20px;
  background-color: #05252C66;
  border-radius: 10px;
  padding: 7px 10px;
}

.header-events-container .nav-link {
  font-size: 1rem;
  text-decoration: none;
  color: #24A0B5;
  transition: color 0.3s ease;
}

.header-events-container .nav-link:first-child {
  color: #FAFAFA;
}

.header-events-container .nav-link:hover {
  color: #FAFAFA;
}

.header-ticket-container {
  display: flex;
}

.icon-button {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #FAFAFA;
  font-size: 1rem;
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.icon-button:hover {
  background-color: #FAFAFA;
  color: #24A0B5;
  padding: 5px 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.arrow-icon {
  width: 20px;
  height: 20px;
}

.container-main {
  /* width: 100%; */
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid #0E464F;
  background-color: #041E23;
  border-radius: 40px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 10px;
}

header h3 {
  /* font-family: JejuMyeongjo; */
  font-size: 2rem;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 4px;
}

header h4 {
  font-size: 1rem;
  font-size: 400;
  margin: 0;
  margin-bottom: 4px;
  color: #FAFAFA;
}

.progressive-bar {
  width: 100%;
  height: 4px;
  background-color: #0E464F;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}

.progressive-bar-absolute {
  width: 50%;
  height: 4px;
  border-radius: 5px;
  background-color: #24A0B5;
}

.main-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  border: 1px solid #07373F;
  background-color: #08252B;
  border-radius: 2rem;
  text-align: center;
}

.caption-card {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 1px solid #07373F;
  border-radius: 24px;
  padding: 40px;
  background: linear-gradient(170deg, #07373F 30%, #0A0C111A 65%);
}

.caption-card h1 {
  /* font-family: Road Rage; */
  font-size: 3.5rem;
  font-weight: 400;
  color: #FAFAFA;
  margin: 0;
}

/* @media (max-width: 768px) {
  .caption-card h1 {
    font-size: 3rem;
  }
} */

.caption-card p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  color: #FAFAFA;
}

.bar-horizontal {
  width: 100%;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
  background-color: #07373F;
}

.select-ticket-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.select-ticket {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: #FAFAFA;
  margin: 0;
  margin-bottom: 6px;
}

.ticket-type-cards-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #07373F;
  border-radius: 24px;
  padding: 1rem;
  gap: 1rem;
  background-color: #052228;
}

.card {
  /* width: 100%; */
  flex: 1;
  padding: 10px;
  border: 1px solid #07373F;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-color: #197686;
  background-color: #052228;
  text-align: left;
}

/* @media (min-width: 768px) and (max-width: 991px) {
  card {
    display: flex;
    flex-direction: column;
  }
} */

.card:hover {
  background-color: #2C545B;
  border: 1px solid #197686;
  color: #FFFFFF;
}

.card.active {
  background-color: #12464E;
  border: 1px solid #197686;
  color: #FFFFFF;
}

.card p {
  margin: 0;
}

.bold {
  font-weight: 600;
  font-size: 1.5rem;
  color: #FFFFFF;
}


.small-text-section {
  margin-top: 10px;
}

.small-text {
  font-size: 1rem;
  font-weight: 400;
  color: #FAFAFA;
  /* margin-top: 15px; */
  /* text-wrap: nowrap; */
}

.small-text-button {
  color: #D9D9D9;
}

.dropdown {
  width: 100%;
}

.num-tickets {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 6px;
  color: #FAFAFA;
}

.select-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: inline-block;
  border-radius: 0.5rem;
}

.select-wrapper select {
  width: 100%;
  padding: 10px 40px 10px 12px; 
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #08252B;
  border: 1px solid #07373F;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

select {
  color: #FFFFFF;
}

select:hover {
  background-color: #2C545B;
  color: #FFFFFF;
}

.select-icon {
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #FFFFFF;
}

.second-next {
  text-wrap: nowrap;
}

.cancel-next-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 0.5rem;
  text-align: center;
}

.cancel-next-container .cancel,
.next {
  flex: 1;
  border: solid 1px #24A0B5;
  border-radius: 10px;
  padding: 8px 20px 8px 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  font: JejuMyeongjo;
  cursor: pointer;
  /* text-wrap: nowrap; */
}

.cancel-next-container .cancel {
  background-color: #08252B;
  color: #24A0B5;
}

.cancel-next-container .cancel:hover {
  background-color: #2C545B;
  border-color: #24A0B580;
  color: #FAFAFA;
}

.cancel-next-container .next {
  background-color: #08252B;
  color: #FFFFFF;
}


.cancel-next-container .next:hover {
  background-color: #24A0B5;
  color: #FFFFFF;
}

/* <>dmc6nes1j</>
<>jsx13579</> */